
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
span.text-red:empty {
  display: none
}
span.select2.select2-container.select2-container--default.select2-container--below {
  width: 100% !important;
}
.select2-container {
  width: 100% !important;
}
.error{
  color: $brand-danger;
}